<div class="section search-result-wrap">
  <div class="container">
    <div class="row posts-entry">
      <div class="col-lg-8">
        {{#each categories}}

          <div class="blog-entry d-flex blog-entry-search-item">
            <a href="single.html" class="img-fluidcategories me-4">
              <img
                src={{this.strCategoryThumb}}
                alt="Image"
                class="img-fluidcategories"
              />
            </a>
            <div>
              <h2><a href="/categories/{{strCategory}}">{{strCategory}}</a></h2>
              <p>{{strCategoryDescription}}</p>
              <a
                href="/categories/{{strCategory}}"
                class="btn btn-sm btn-primary"
              >View</a>
            </div>

          </div>

        {{/each}}

      </div>

      <div class="col-lg-4 sidebar">

        <div class="sidebar-box search-form-wrap mb-4">
        </div>
        <!-- END sidebar-box -->
        <div class="sidebar-box">
          <h3 class="heading">Popular Posts</h3>
          <div class="post-entry-sidebar">
            <ul>
              {{#each popularRecipes}}
                <li>
                  <a href="/recipes/{{this._id}}">
                    <img
                      src={{this.image}}
                      alt="Image placeholder"
                      class="me-4 rounded"
                    />
                    <div class="text">
                      <h4>{{this.title}}</h4>
                      <div class="post-meta">
                        <span class="mr-2">{{this.mealType}} </span>
                      </div>
                    </div>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>

        <div class="sidebar-box">
        </div>

      </div>
    </div>
  </div>
</div>