
<div id="signup" class="container col-xxl-4">
  <h1>
    {{#if isEdit}}
      Edit recipe
    {{else}}
      Create recipe
    {{/if}}
  </h1>

  {{#if isEdit}}
    <form action="/recipes/{{recipe._id}}" method="POST" enctype="multipart/form-data">
  {{else}}
    <form action="/recipes/create" method="POST" enctype="multipart/form-data">
  {{/if}}
    <div class="input-group mb-2">
      <label class="w-100 mb-2" for="title" style="color: #3498db;">Title</label>
      <input type="text" name="title"
        class="form-control  py-2 ps-4 {{#if errors.title}}is-invalid{{/if}}" placeholder="Title"
        aria-label="Title" value="{{ recipe.title }}">
      {{#if errors.title}}<div class="invalid-feedback">{{ errors.title }}</div>{{/if}}
    </div>

    <div id="ingredientsContainer" class="mb-3">
      <label class="w-100 mb-2" style="color: #3498db;">Ingredients</label>
      <div id="ingredientList">
        <div class="ingredient-group">
          <input type="text" name="ingredients[]" class="form-control py-2 ps-4 ingredient-input {{#if errors.ingredients}}is-invalid{{/if}}"
            placeholder="Ingredient" aria-label="Recipe ingredients" value="{{ recipe.ingredients }}">
          
        </div>
      </div>
      <button type="button" onclick="addIngredient()" class="btn btn-secondary mt-2">Add Ingredient</button>
      {{#if errors.ingredients}}<div class="invalid-feedback">{{ errors.ingredients }}</div>{{/if}}
    </div>

    <div class="input-group mb-3">
      <label class="w-100 mb-2" for="preparation" style="color: #3498db;">Preparation</label>
      <textarea type="text" name="preparation" rows="5"
        class="form-control  py-2 ps-4 {{#if errors.preparation}}is-invalid{{/if}}"
        placeholder="Preparation" aria-label="Recipe preparation" value="{{ recipe.preparation }}"></textarea>
      {{#if errors.preparation}}<div class="invalid-feedback">{{ errors.preparation }}</div>{{/if}}
    </div>

    <div class="input-group mb-3">
      <label class="w-100 mb-2" for="image" style="color: #3498db;">Image</label>
        <input placeholder="Upload an image" type="file" name="image" class="{{#if errors}}is-invalid{{/if}} form-control" id="image">
      {{#if errors.image}}<div class="invalid-feedback">{{ errors.image }}</div>{{/if}}
    </div>

    <div class="input-group mb-3">
      <label class="w-100 mb-2" for="mealType" style="color: #3498db;">Meal type</label>
      <input type="text" name="mealType"
        class="form-control  py-2 ps-4 {{#if errors.mealType}}is-invalid{{/if}}"
        placeholder="Breakfast" aria-label="Recipe mealType" value="{{ recipe.mealType }}">
      {{#if errors.mealType}}<div class="invalid-feedback">{{ errors.mealType }}</div>{{/if}}
    </div>

    <div class="input-group mb-3">
      <label class="w-100 mb-2" for="preparationtime" style="color: #3498db;">Preparation time</label>
      <input type="text" name="preparationtime"
        class="form-control  py-2 ps-4 {{#if errors.preparationtime}}is-invalid{{/if}}"
        placeholder="1h 20m" aria-label="Recipe preparationtime" value="{{ recipe.preparationtime }}">
      {{#if errors.preparationtime}}<div class="invalid-feedback">{{ errors.preparationtime }}</div>{{/if}}
    </div>

    <div class="input-group mb-2">
      <label class="w-100 mb-2" for="description" style="color: #3498db;">Description</label>
      <textarea type="text" name="description"
        class="form-control  py-2 ps-4 {{#if errors.description}}is-invalid{{/if}}"
        placeholder="Description" aria-label="User description" value="{{ recipe.description }}" ></textarea>
      {{#if errors.description}}<div class="invalid-feedback">{{ errors.description }}</div>{{/if}}
    </div>

    <button type="submit" class="btn btn-primary">
      {{#if isEdit}}
        Update recipe
      {{else}}
        Create
      {{/if}}
    </button>

  </form>
  
</div>

<style>
  .ingredient-group {
  position: relative;
}

.delete-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

</style>

<script>
  function addIngredient() {
  var ingredientList = document.getElementById("ingredientList");
  var newIngredientGroup = document.createElement("div");
  newIngredientGroup.classList.add("ingredient-group");

  var newIngredientInput = document.createElement("input");
  newIngredientInput.type = "text";
  newIngredientInput.name = "ingredients[]";
  newIngredientInput.placeholder = "50gr Sugar"
  newIngredientInput.classList.add(
    "form-control",
    "py-2",
    "ps-4",
    "ingredient-input",
    "mt-1"
  );

  var deleteIcon = document.createElement("a");
  deleteIcon.href = "#";
  deleteIcon.classList.add("delete-icon", "text-decoration-none");
  deleteIcon.innerHTML = "🗑️";
  deleteIcon.onclick = function (event) {
    event.preventDefault();
    deleteIngredient(newIngredientGroup);
  };

  newIngredientGroup.appendChild(newIngredientInput);
  newIngredientGroup.appendChild(deleteIcon);
  ingredientList.appendChild(newIngredientGroup);
}

function deleteIngredient(ingredientGroup) {
  var ingredientList = document.getElementById("ingredientList");
  ingredientList.removeChild(ingredientGroup);
}

</script>