<div class="section search-result-wrap">
  <div class="container">
    <div class="row posts-entry">
      <div class="col-lg-8">
        {{#each recipes}}

          <div class="blog-entry d-flex blog-entry-search-item">
            <a href="/recipes/{{this._id}}" class="img-link me-4">
              <img src={{this.image}} alt="Image" class="img-fluid" />
            </a>
            <div>
              <span class="date">Apr. 14th, 2022 &bullet;
                <a href="#">{{this.mealType}}</a></span>
              <h2><a href="/recipes/{{this._id}}">{{this.title}}</a></h2>
              <p>{{this.description}}</p>
              <a
                href="/recipes/{{this._id}}"
                class="btn btn-sm btn-primary"
              >Read More</a>
            </div>
            
        
          </div>

        {{/each}}

        

      </div>

      <div class="col-lg-4 sidebar">

        <div class="sidebar-box search-form-wrap mb-1">
      
</form>

        </div>
        <!-- END sidebar-box -->
        <div class="sidebar-box">
          <h3 class="heading">Popular Posts</h3>
          <div class="post-entry-sidebar">
            <ul>
                {{#each popularRecipes}}
                <li>
                  <a href="/recipes/{{this._id}}">
                    <img
                      src={{this.image}}
                      alt="Image placeholder"
                      class="me-4 rounded"
                    />
                    <div class="text">
                      <h4>{{this.title}}</h4>
                      <div class="post-meta">
                        <span class="mr-2">{{this.mealType}} </span>
                      </div>
                    </div>
                  </a>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
        <!-- END sidebar-box -->


        <div class="sidebar-box">
        </div>
        <!-- END sidebar-box -->

      </div>
    </div>
  </div>
 
</div>